$color-1000: #133a79;
$color-900: #1450af;
$color-700: #1e5dbe;
$color-500: #5591ff;
$color-300: #a5c4fd;
$color-100: #dde6f9;
$color-white: #fff;
$color-font: #3f3e3e;
$color-darker-grey: #808080;
$color-lighter-grey: #efeff3;
$color-grey: #bebebe;
$color-purple: #914bb9;
$gradient-primary: linear-gradient(to top left, #914bb9, #1e5dbe, #a5c4fd);

$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 3rem;

$radius-small: 0.5rem;
$radius-medium: 1rem;
$radius-pill: 80px;

$font-largest: 5.5rem;
$font-large: 3rem;
$font-medium: 2.4rem;

$border-small: 3px solid $color-900;
