@use '../abstracts/variables' as *;
.user-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 4rem 4rem;
  background-color: $color-white;
  border-radius: 2px;
  margin-top: 10rem;
}

.avatar-section {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-right: 1px solid $color-lighter-grey;

  &__img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }

  &__full {
    font-weight: bold;
    font-size: 3rem;
  }

  &__native {
    color: $color-darker-grey;
    font-size: 2rem;
    font-weight: bold;
  }

  &__copy {
    background-color: $color-lighter-grey;
    color: $color-darker-grey;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 80px;
    margin-bottom: 1rem;
    transition: all 0.5s;

    &:hover {
      background-color: $color-grey;
    }
  }

  &__link {
    height: 2rem;
  }
  &__edit {
    text-transform: uppercase;
    font-weight: 550;

    padding: 1rem;
    border-radius: 2px;
    border: 1px solid $color-lighter-grey;
    transition: all 0.5s;

    &:hover {
      background-color: $color-grey;
      color: $color-darker-grey;
    }
  }

  &-icon {
    font-size: 2.5rem;
    color: $color-500;
    width: 2rem;
    height: 2rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin-top: 1rem;
  }

  &__general {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 2px solid $color-lighter-grey;
  }
}

.details-section {
  padding: 5rem;
  font-size: 2rem;
  color: $color-darker-grey;

  &-icon {
    width: $space-md;
    height: $space-md;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin-top: 1rem;

    &-save,
    &-cancel {
      font-size: 1.5rem;
      padding: $space-md;
      font-weight: bold;
    }

    &-save {
      background-color: $color-500;
      color: $color-white;
      transition: all 0.5s;
      &:hover {
        background-color: $color-700;
        color: $color-lighter-grey;
      }
    }

    &-cancel {
      transition: all 0.5s;
      &:hover {
        background-color: $color-grey;
        color: $color-lighter-grey;
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
  }
}

.edit-input,
.visa-input {
  padding: $space-xs;
  color: $color-darker-grey;
}

.home-box {
  background-color: $color-purple;
  border-radius: 50%;
  position: absolute;
  top: 78%;
  left: 4%;
  border: 0.4rem solid $color-white;

  &__list {
    width: 2rem;
    padding: 0.2rem;
  }

  &__grid {
    width: 3rem;
    padding: 0.3rem;
  }

  &__icon {
    width: 3rem;
    padding: 0.3rem;
  }
}

.visa-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: $space-md;
  font-size: 1rem;
  &__header {
    grid-column: 1/3;
  }
}

.visa-row__edit {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.employee-edit-form {
  padding: $space-md;
}

.form-error {
  color: $color-1000;
  font-size: 1.6rem;
}
